@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #4f772d; /* Bright Blue */
    --secondary-color: #386641; /* Emerald Green */
    --highlight-color: #e74c3c; /* Coral Red */
    --background-color: #ecf0f1; /* Light Gray */
    --main-text-color: #2c3e50; /* Dark Bluish Gray */
    --secondary-text-color: #7f8c8d; /* Light Bluish Gray */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-text-color);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: transparent;
    backdrop-filter: blur(1px);
}

::-webkit-scrollbar-thumb {
    background-color: #9cecbc;
}
